composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

# Don't commit uncompressed CSS/JS files
/assets/css/bootstrap.css
/assets/css/bootstrap-slider.css
/assets/css/bootstrap-theme.css
/assets/css/font-awesome.css
/assets/js/bootstrap.js
/assets/js/bootstrap-slider.js
/assets/js/jquery.js
/assets/js/jquery.shoutcast.js


# Ignore npm.js
npm.js
